{{#view view.NavItemView item="comments"}}
  <a {{action showComments href=true}}>Comments ({{comments.length}})</a>
{{/view}}
{{#view view.NavItemView item="trackbacks"}}
  <a {{action showTrackbacks href=true}}>Trackbacks ({{trackbacks.length}})</a>
{{/view}}
