{{#view view.NavItemView item="comments"}}
  <a {{action showComments href=true}}>Comments ({{content.comments.length}})</a>
{{/view}}
{{#view view.NavItemView item="trackbacks"}}
  <a {{action showTrackbacks href=true}}>Trackbacks ({{content.trackbacks.length}})</a>
{{/view}}
