<div class="row-fluid">
  <div class="span6">
    <ul class="nav nav-tabs nav-stacked" id='posts'>
      {{#each post in controller}}
        <tr>
          <li><a {{action showPost post href=true}}>{{post.title}}</a></li>
        </tr>
      {{/each}}
    </ul>
  </div>
  <div class="span6">
    {{outlet}}
  </div>
</div>
